html, body {
  height: 100%;  // So app fills screen
}

img.logo {
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.apptitle {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $primary;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $primary;
  margin-top: 0; /* overrides bootstrap default for headings */
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $primary;
  margin-top: 0; /* overrides bootstrap default for headings */
}

h3 {
  //styleName: Heading 3;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: inherit;
  color: black;
  margin-top: 0; /* overrides bootstrap default for headings */
}

.bodylarge {
  //styleName: Body Large;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $dark;
}

body {//styleName: Body;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background-color: $green10;
  color: $dark;
}

.bodyusual {//styleName: Body;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $dark;
}



h4 {
  margin-top: 0; /* overrides bootstrap default for headings */
  text-align: left;
  font-size: 150%;
  color: black;
}

// the !important flags are needed here because ion.RangeSlider.css is loaded close to last - appears to be after this css is loaded currently
.irs-bar{
  background: $primary !important;
  border: $primary !important;
}
.irs-bar-edge {
  background: #bfbfbf;
  border: #bfbfbf;
}
/* sliderInput customisation. Based on Data Labels style Important needed to override RangeSlider.css -- the setting here seem to be mapped to bootstrap.min.css rather than anything else */
.irs-grid-text {
  //color: #858585;
  //color: initial;
  font-family: Inter, sans-serif !important;
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 14px !important;
}
.irs-grid-pol{
  background: $primary;
}
.irs-single {
  color: white !important;
  background: $primary !important;
  font-family: Inter, sans-serif !important;
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 14px !important;
}
.irs-from {
  color: #858585;
  background: #bfbfbf;
}
.irs-to {
  color: #858585;
  background: #bfbfbf;
}


.badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 120px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.badge_small {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.badge_tiny {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.patch_badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.download_badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.badge:hover {
  color: white;
  background-color: #8bb095;
}

.badge_small:hover {
  color: white;
  background-color: #8bb095;
}

.badge_tiny:hover {
  color: white;
  background-color: #8bb095;
}

.patch_badge:hover {
  color: white;
  background-color: #8bb095;
}

.download_badge:hover {
  color: white;
  background-color: #8bb095;
}

.tooltip-inner {
    text-align: left;
    min-width: 100px;
    max-width: 300px; 
}

.popover-title {
  background-color: #006666;
  color: white;
  font-size: 28px;
  text-align:center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}


.carousel-inner {
 position:static;
}

.carousel-indicators {
 position:static;
}

.card-img-overlay {
  background-color: #026666dd;  //the final dd here is to give some transparency 
  opacity:0;
  transition: opacity 0.5s ease;
}
.card-img-overlay:hover {
  opacity: 1;
}

.infotext {
  display: -webkit-inline-flex;
  background-color: #c5e2f2; /* an approx 85% lighter form of #399cd3 */
  padding: 0.5rem;
}
.infotext::before {
  content: "";
  display: inline;
  flex-shrink: 0;
  width: 24px;
  background-repeat: no-repeat;
  margin-right:0.25rem;
  //background-image: escape-svg(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#026666'%3e%3cpath fill-rule='evenodd' d='M497.9 74.16l-60.09-60.1c-18.75-18.75-49.19-18.75-67.93 0L313.4 70.61l127.1 128l56.56-56.55C516.7 123.3 516.7 92.91 497.9 74.16zM31.04 352.1c-2.234 2.234-3.756 5.078-4.377 8.176l-26.34 131.7C-1.703 502.1 6.156 512 15.95 512c1.049 0 2.117-.1035 3.199-.3203l131.7-26.34c3.098-.6191 5.941-2.141 8.176-4.373l259.7-259.7l-128-128L31.04 352.1zM131.9 440.2l-75.14 15.03l15.03-75.15L96 355.9V416h60.12L131.9 440.2z'/%3e%3c/svg%3e"));
  background-image: escape-svg(url('data:image/svg+xml, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_21_505)"> <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#1E2326" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M12 16V12" stroke="#026666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M12 8H12.01" stroke="#1E2326" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g> <defs> <clipPath id="clip0_21_505"> <rect width="24" height="24" fill="white"/> </clipPath> </defs> </svg>'));
}

.warntext {
  background-color: #fbcabb; /* approx 85% tint of F4511E */
}
.warntext:before {
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  color: #F4511E;
}


.bodysmall {
//styleName: Body Small;
font-family: Inter, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: $dark;
}

.linklarge {
  //styleName: Link Large;
font-family: Inter, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}

.linkusual {
  //styleName: Link;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.linksmall {
  //styleName: Link Small;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.datalabels {
  font-family: Inter, sans-serif;
  font-size:10px;
  line-height: 14px;
}

.btn {
  text-transform: none;
  //styleName: Button;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: none !important; //removed the underline
}

a {
  target: "_blank";
  color: $brightblue;
}

// remove the underline for accordion buttons
.accordion-item {
  border: 1px solid $primary !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.accordion-button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

// for making columns equal height
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

//itemize for the nav bar
.mynavstatus {
& > li {
  border: 1px solid;
  border-color: #80B2B3; //Green 50%
  background-color: #80B2B3; //Green 50%
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 1.9rem;
  border-radius: 1rem;
  display: inline-block;
  color: transparent;
  position: relative;
  margin-top: 0;
  margin-right: 3rem;
  margin-bottom: 0;
  margin-left: 3rem;
  background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.5rem" height="1.5rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="#026666"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093l3.473-4.425a.267.267 0 0 1 .02-.022z"/></g></svg>'));
}

// this is the line between the items
& > li::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: -6.2rem;
  width: 6rem;
  height: 1px;
  background: #80B2B3;
}


& > li:first-child::before {
  display: none;
}

// this is the active item
& > .active {
  background: #FFFFFF;
  color: $primary;
  border-color: #FFFFFF;
}

//items after the active item
& > .active ~ li {
  background: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

// lines after the active item
& > .active ~ li::before {
  background: #80B2B3;
}
}

