img.logo {
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.apptitle {
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $primary;
}

h1 {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $primary;
  margin-top: 0; /* overrides bootstrap default for headings */
}

h2 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $primary;
  margin-top: 0; /* overrides bootstrap default for headings */
}

h3 {
  //styleName: Heading 3;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: inherit;
  color: black;
  margin-top: 0; /* overrides bootstrap default for headings */
}

.bodylarge {
  //styleName: Body Large;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: inherit;
  color: $dark;
}

body {//styleName: Body;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background-color: $green10;
  color: $dark;
}

.bodyusual {//styleName: Body;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $dark;
}



h4 {
  margin-top: 0; /* overrides bootstrap default for headings */
  text-align: left;
  font-size: 150%;
  color: black;
}

// the !important flags are needed here because ion.RangeSlider.css is loaded close to last - appears to be after this css is loaded currently
.irs-bar{
  background: $primary !important;
  border: $primary !important;
}
.irs-bar-edge {
  background: #bfbfbf;
  border: #bfbfbf;
}
.irs-grid-text {
  color: #858585;
}
.irs-grid-pol{
  background: $primary;
}
.irs-single {
  color: white !important;
  background: $primary !important;
}
.irs-from {
  color: #858585;
  background: #bfbfbf;
}
.irs-to {
  color: #858585;
  background: #bfbfbf;
}


.badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 120px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.badge_small {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.badge_tiny {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.patch_badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.download_badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.badge:hover {
  color: white;
  background-color: #8bb095;
}

.badge_small:hover {
  color: white;
  background-color: #8bb095;
}

.badge_tiny:hover {
  color: white;
  background-color: #8bb095;
}

.patch_badge:hover {
  color: white;
  background-color: #8bb095;
}

.download_badge:hover {
  color: white;
  background-color: #8bb095;
}

.tooltip-inner {
    text-align: left;
    min-width: 100px;
    max-width: 300px; 
}

.popover-title {
  background-color: #006666;
  color: white;
  font-size: 28px;
  text-align:center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.modal-lg {
  width: 80%
}

.carousel-inner {
 position:static;
}

.carousel-indicators {
 position:static;
}

.card-img-overlay {
  background-color: #026666;
  opacity:0;
  transition: opacity 0.5s ease;
}
.card-img-overlay:hover {
  opacity: 1;
}

.infotext {
  background-color: #c5e2f2; /* an approx 85% lighter form of #399cd3 */
  padding: 0.5rem;
}
.infotext:before {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  content: "\f05a";
  color: $brightblue;

}

.warntext {
  background-color: #fbcabb; /* approx 85% tint of F4511E */
}
.warntext:before {
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  color: #F4511E;
}


.bodysmall {
//styleName: Body Small;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: $dark;
}

.linklarge {
  //styleName: Link Large;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}

.linkusual {
  //styleName: Link;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.linksmall {
  //styleName: Link Small;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.datalabels {
  font-size:10px;
  line-height: 14px;
}

.btn {
  text-transform: none;
  //styleName: Button;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: none !important; //removed the underline
}

a {
  target: "_blank";
  color: $brightblue;
}

// remove the underline for accordion buttons
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

// for making columns equal height
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

//itemize for the nav bar
.mynavstatus {
& > li {
  border: 1px solid;
  border-color: #80B2B3; //Green 50%
  background-color: #80B2B3; //Green 50%
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 1.9rem;
  border-radius: 1rem;
  display: inline-block;
  color: transparent;
  position: relative;
  margin-top: 0;
  margin-right: 3rem;
  margin-bottom: 0;
  margin-left: 3rem;
  background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.5rem" height="1.5rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="#026666"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093l3.473-4.425a.267.267 0 0 1 .02-.022z"/></g></svg>'));
}

// this is the line between the items
& > li::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: -6.2rem;
  width: 6rem;
  height: 1px;
  background: #80B2B3;
}


& > li:first-child::before {
  display: none;
}

// this is the active item
& > .active {
  background: #FFFFFF;
  color: $primary;
  border-color: #FFFFFF;
}

//items after the active item
& > .active ~ li {
  background: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

// lines after the active item
& > .active ~ li::before {
  background: #80B2B3;
}
}