img.logo {
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

div.header {
  background-color: #ffffff;
}

div.subheader {
  background-color: #006666;
}

div.plotheader {
  background-color: #ffffff;
}

.main {
  text-align: center;
  font-size: 250%;
  color: #006666;
}

.subtitle {
  font-size: 120%;
  color: #0e113c;
}

h2 {
  text-align: center;
  font-size: 150%;
  color: white;
}

h3 {
  text-align: center;
  font-size: 150%;
  color: white;
}

h4 {
  text-align: left
  font-size: 150%;
  color: black;
}

.irs-bar {
  background: #bfbfbf;
  border: #bfbfbf;
}
.irs-bar-edge {
  background: #bfbfbf;
  border: #bfbfbf;
}
.irs-grid-text {
  color: #858585;
}
.irs-grid-pol{
  background: #858585;
}
.irs-single {
  color: white;
  background: #bfbfbf;
}
.irs-from {
  color: #858585;
  background: #bfbfbf;
}
.irs-to {
  color: #858585;
  background: #bfbfbf;
}


.badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 120px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.badge_small {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.patch_badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.badge:hover {
  color: white;
  background-color: #81a2b3;
}

.badge_small:hover {
  color: white;
  background-color: #81a2b3;
}

.patch_badge:hover {
  color: white;
  background-color: #8bb095;
}