img.logo {
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

div.header {
  background-color: #ffffff;
}

div.subheader {
  background-color: #006666;
}

.main {
  text-align: center;
  font-size: 250%;
  color: #006666;
}

.subtitle {
  font-size: 120%;
  color: #0e113c;
}

h2 {
  text-align: center;
  font-size: 150%;
  color: white;
}

h3 {
  text-align: center;
  font-size: 150%;
  color: white;
}

bodysmall,
h4 {
  text-align: left;
  font-size: 150%;
  color: black;
}


.irs-bar {
  background: #bfbfbf;
  border: #bfbfbf;
}
.irs-bar-edge {
  background: #bfbfbf;
  border: #bfbfbf;
}
.irs-grid-text {
  color: #858585;
}
.irs-grid-pol{
  background: #858585;
}
.irs-single {
  color: white;
  background: #bfbfbf;
}
.irs-from {
  color: #858585;
  background: #bfbfbf;
}
.irs-to {
  color: #858585;
  background: #bfbfbf;
}


.badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 120px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.badge_small {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.badge_tiny {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.patch_badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.download_badge {
  border: none;
  color: white;
  background-color: #178BCA;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.badge:hover {
  color: white;
  background-color: #8bb095;
}

.badge_small:hover {
  color: white;
  background-color: #8bb095;
}

.badge_tiny:hover {
  color: white;
  background-color: #8bb095;
}

.patch_badge:hover {
  color: white;
  background-color: #8bb095;
}

.download_badge:hover {
  color: white;
  background-color: #8bb095;
}

.tooltip-inner {
    text-align: left;
    min-width: 100px;
    max-width: 300px; 
}

.popover-title {
  background-color: #006666;
  color: white;
  font-size: 28px;
  text-align:center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.modal-lg {
  width: 80%
}

.carousel-inner {
 position:static;
}

.carousel-indicators {
 position:static;
}

.card-img-overlay {
  background-color: #026666;
  opacity:0;
  transition: opacity 0.5s ease;
}
.card-img-overlay:hover {
  opacity: 1;
}

.accordion-button:not(.collapsed)::after {
 background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23137ea7'%3e%3cpath fill-rule='evenodd' d='M497.9 74.16l-60.09-60.1c-18.75-18.75-49.19-18.75-67.93 0L313.4 70.61l127.1 128l56.56-56.55C516.7 123.3 516.7 92.91 497.9 74.16zM31.04 352.1c-2.234 2.234-3.756 5.078-4.377 8.176l-26.34 131.7C-1.703 502.1 6.156 512 15.95 512c1.049 0 2.117-.1035 3.199-.3203l131.7-26.34c3.098-.6191 5.941-2.141 8.176-4.373l259.7-259.7l-128-128L31.04 352.1zM131.9 440.2l-75.14 15.03l15.03-75.15L96 355.9V416h60.12L131.9 440.2z'/%3e%3c/svg%3e");
 transform:rotate(-180deg)
}

